Repository IntelLabs/matsciml, pull requests merged in 2024-02, with the labels that each got.

#109 Adding support for ColabFit Datasets
  MANIFEST.in
  examples/datasets/colabfit/single_task_devset.py
  matsciml/datasets/__init__.py
  matsciml/datasets/colabfit/README.md
  matsciml/datasets/colabfit/__init__.py
  matsciml/datasets/colabfit/dataset.py
  matsciml/datasets/colabfit/devset/data.lmdb
  matsciml/datasets/colabfit/devset/data.lmdb-lock
  matsciml/datasets/colabfit/tests/__init__.py
  matsciml/datasets/colabfit/tests/test_dataset.py
Labels: data, needs triage

#113 Periodic properties transform
  examples/datasets/periodic_properties_pipeline.py
  matsciml/datasets/transforms/__init__.py
  matsciml/datasets/transforms/pbc.py
  matsciml/datasets/transforms/representations/graphs.py
  matsciml/datasets/utils.py
Labels: enhancement, data

#102 Matgl Version Update
  matsciml/datasets/carolina_db/dataset.py
  matsciml/datasets/materials_project/dataset.py
  matsciml/datasets/nomad/dataset.py
  matsciml/datasets/oqmd/dataset.py
  matsciml/models/dgl/m3gnet.py
  pyproject.toml
Labels: training, code maintenance

#117 Lint and run formatters on MACE codebase
  matsciml/models/pyg/__init__.py
  matsciml/models/pyg/mace/__init__.py
  matsciml/models/pyg/mace/data/__init__.py
  matsciml/models/pyg/mace/data/atomic_data.py
  matsciml/models/pyg/mace/data/neighborhood.py
  matsciml/models/pyg/mace/data/utils.py
  matsciml/models/pyg/mace/modules/__init__.py
  matsciml/models/pyg/mace/modules/blocks.py
  matsciml/models/pyg/mace/modules/irreps_tools.py
  matsciml/models/pyg/mace/modules/models.py
  matsciml/models/pyg/mace/modules/radial.py
  matsciml/models/pyg/mace/modules/symmetric_contraction.py
  matsciml/models/pyg/mace/modules/utils.py
  matsciml/models/pyg/mace/tools/__init__.py
  matsciml/models/pyg/mace/tools/cg.py
  matsciml/models/pyg/mace/tools/checkpoint.py
  matsciml/models/pyg/mace/tools/scatter.py
  matsciml/models/pyg/mace/tools/torch_tools.py
  matsciml/models/pyg/mace/tools/utils.py
Labels: models, code maintenance

#125 Replacing union type hints with `Optional` in MACE
  matsciml/models/pyg/mace/tools/scatter.py
Labels: bug

#127 Periodic graph transform fixes
  matsciml/datasets/transforms/base.py
  matsciml/datasets/transforms/pbc.py
  matsciml/datasets/transforms/representations/graphs.py
  matsciml/datasets/utils.py
Labels: bug, data

#121 Model contribution guide
  CONTRIBUTING.md
  matsciml/models/README.md
  matsciml/models/pyg/tests/test_egnn.py
Labels: documentation, code maintenance

#130 Code carbon integration
  examples/callbacks/code-carbon.py
  matsciml/common/packages.py
  matsciml/lightning/callbacks.py
Labels: enhancement
